@import "compass/css3";

$vinyl-color-1: #333;
$vinyl-color-2: #8F005C;
$vinyl-color-3: #21BFF1;

body{
  text-align: center;
}

.picture{
  margin: 100px;
}

@mixin create-vinyl($color) {
  /**Size**/
  width: 120px;
  height: 120px;
  
  /**Animation**/
  animation:play 15s 0s infinite;
  transform:rotate(0deg); 
  animation-timing-function: linear;
  
  /**Vinyl**/
  box-shadow: 0 0 0 5px $color, 0 0 0 6px darken($color,10), 0 0 0 7px $color, 0 0 0 8px darken($color,10), 0 0 0 9px $color, 0 0 0 10px darken($color,10), 0 0 0 11px $color, 0 0 0 12px darken($color,10), 0 0 0 13px $color, 0 0 0 14px darken($color,10), 0 0 0 15px $color, 0 0 0 16px darken($color,10), 0 0 0 17px $color, 0 0 0 18px darken($color,10), 0 0 0 19px $color, 0 0 0 20px darken($color,10), 0 0 0 21px $color, 0 0 0 22px darken($color,10), 0 0 0 23px $color, 0 0 0 24px darken($color,5), 0 0 0 25px $color, 0 0 0 30px darken($color,10);
  border-radius: 50%;
}

@keyframes play {
  0% {

    transform:rotate(0deg);
  }
  100% {

    transform:rotate(360deg);
  }
}

.vinyl-1{
  @include create-vinyl($vinyl-color-1);
}

.vinyl-2{
  @include create-vinyl($vinyl-color-2);
}

.vinyl-3{
  @include create-vinyl($vinyl-color-3);
}


.footer{
  padding-top: 100px;
  
  .credits{
    text-align: center;
    color: #666;
    
    .link{
      color: $vinyl-color-3;
      text-decoration: none;
    }
    
  }
  
}



