body {
  margin: auto;
  padding: auto;
  background-color: #000;
}

/*html { 
  background: url(stage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    line-height: 30px;
    /*width: 360px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding-left: 20px;
    opacity: 0.8;
    border-radius: 7px;
}

#skip {
  margin: 0px !important; 
  padding: 0 !important;
  text-align: center;
  font-size: 14px;
}

.move {
  margin: 0px !important; 
  padding: 0 !important;
  text-align: center;
  font-size: 14px;  
}

#element {
  position:fixed;
  top: 0px;
  margin: auto;
  z-index: 1000000;
  width: 100% !important;
  font-family: 'Raleway', sans-serif !important;
  letter-spacing: 0.2em;
}

.jk {
  margin:0 auto;
  background-color: #000;
  color: #fff;
  font-size: 1.3em;
  padding-left:5px;
  padding:10px;
}

.water {
  width: 100%;
  height: 800px;
  /*margin-top: 100px;*/
  background-color: #000;
}

#intro {
  margin: 0 auto;
  padding-top: 0 auto;
  z-index: 1000000;
}

.up {
  text-align:right;
  padding-right:10px;
  z-index: 1000;
  color: blue;
  font-size: 1.5em;
  opacity:0.9;
}

.next {
  text-align: center;
  margin-top: 0px;
  padding: 0 auto;
  /*padding-top: 10px;*/
  background-color: #000;
  width: 100%;
  height:50px;
/*  opacity: 0.9;*/
}

#jg {
  width: 100%;
  height: 675px;
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: 1em;
  font-weight: bold;
}
#jgaffigan {
  margin-top:1200px;
  width: 100%;
  height: 675px;
  padding-top:75px;
  background-color: #000 !important;
}

#start {
  color:#fff; 
  font-size:2em; 
  margin-top:-500px;
  margin-left: 35%;
  text-align:center;
  width: 500px;
  height: 50px;
  /*background-color: #000;*/
  /*opacity: 0.7;*/
}

a:link {
  color: #fff;
  text-decoration: none;
  font-family: 'Reem Kufi', sans-serif !important;
  letter-spacing: 0.2em;
  font-size:1em;
}

a:visited {
  color: #fff;
  text-decoration: none;
  font-family: 'Reem Kufi', sans-serif !important;
  letter-spacing: 0.2em;
  font-size:1em;
}

#bburr {
  margin-top:700px;
  width: 100%;
  height: 675px;
  padding-top:75px;
  background-color: #000 !important;
}

#lneeson {
  margin-top:700px;
  width: 100%;
  height: 675px;
  padding-top:75px;
  background-color: #000 !important;  
}

#bobs {
  margin-top:700px;
  width: 100%;
  height: 675px;
  padding-top:75px;
  background-color: #000 !important;  
}

#louis {
  margin-top:700px;
  width: 100%;
  height: 675px;
  padding-top:75px;
  background-color: #000 !important;  
}

/*#jrogan {
  margin-top:1000px;
  width: 100%;
  height: 675px;
  padding-top:75px;
}*/

#gcarlin {
  margin-top:700px;
  width: 100%;
  height: 675px;
  padding-top:75px; 
  background-color: #000 !important;  
}

#moon {
  margin-top:700px;
  width: 100%;
  height: 675px;
  padding-bottom: 75px;
  background-color: #000 !important;  
}

#lxmas {
  margin-top:700px;
  width: 100%;
  height: 675px;
  padding-top:75px;
  background-color: #000 !important;  
}

/*
 * Author: http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
 */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}